
@{
    ViewBag.Title = "Home";
}
<div class="content-heading">
    <h2>Manager's Home </h2>
    <h3>Your team members</h3>

</div>
<div class="row">

    @foreach (var p in ViewBag.result)
    {
        <div class="col-lg-4 col-sm-6">
            <div class="card card-default">
                <div class="card-header"></div>
                <div class="card-body text-center">
                    <img class="mb-2 img-fluid rounded-circle thumb64" src="~/Content/img/greyman.jpg" alt="Contact">
                    <h4>@p.nom @p.prenom</h4>
                    <p>@p.email</p>
                </div>
                <div class="card-footer d-flex">
                    <div> <a class="btn btn-xs btn-primary" href="@Url.Action("Home2", "ManagerEval", new { user = p.id })">Evaluate me</a></div>
                    <div class="ml-auto" > <a class="mb-1 btn-xs btn btn-outline-primary" href="@Url.Action("Index", "ManagerEval", new { user = p.id })">Show evaluations</a></div>

                </div>
            </div>
        </div>
    }

</div>



