
@{
    ViewBag.Title = "Index";
}
<center>

  <h2>@ViewBag.employename 's evaluation card </h2>
    <h2>@ViewBag.moy %</h2>
</center>
<div class="progress mb-3">
    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.moy2%"><span class="sr-only">70% Complete (success)</span></div>
</div>

@foreach (var p in ViewBag.result)
{
<div class="list-group mb-3">
    <a class="list-group-item" href="#">
        <table class="wd-wide">
            <tbody>
                <tr>
                    
                    <td>
                        <div class="px-2">
                            <h4 class="mb-2">@p.critere.nom</h4><small class="text-muted">@p.critere.description</small>
                        </div>
                    </td>

                    <td class="wd-sm">
                        <div class="px-2">

                            <h3>@p.value %</h3>
                            <div class="progress-bar progress-xs bg-success" style="width: @p.value%"><span class="sr-only">@p.value%</span></div>
                        </div>
                    </td>




                    <td class="wd-sm d-none d-lg-table-cell">
                        <div class="px-2">
                            <p class="m-0">@p.description</p>
                        </div>
                    </td>
                    <td class="wd-sm d-none d-lg-table-cell">
                        <div class="px-2">
                            <a href="@Url.Action("Edit", "ManagerEval", new { id = p.id })">   <button class="btn btn-oval btn-warning" type="button">Edit</button> </a>
</div>
                    </td>
                    <td class="wd-sm d-none d-lg-table-cell">
                        <div class="px-2">
                            <a href="@Url.Action("Delete", "ManagerEval", new { id = p.id })"> <button class="btn btn-oval btn-danger" type="button">Delete</button> </a>
</div>
                    </td>
                   
                    
                </tr>
            </tbody>
        </table>
    </a>
</div>
}
<centre>
    <a href="@Url.Action("Home","ManagerEval")"> <button class="btn btn-primary" type="button">Back</button> </a>
</centre>